<!DOCTYPE html>
html(lang="en")
  head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='../node_modules/@fortawesome/fontawesome-free/js/all.js')
  title Queue Simulation
#main-container
  #top-container
    #button-container.round-container
      #btn-generate.p-button.round-container GENERAR
    #timer.round-container
      label H. Entrada:
      #timer-label.round-container 00:00:00
      #timer-buttons
        #btn-increase.p-button.round-container
          i.fas.fa-sort-up
        #btn-decrease.p-button.round-container
          i.fas.fa-sort-up
    #iter-container.round-container
      label Clientes:
      input#iterations.round-container(value="1000")
    #title.round-container SIMULACION - FILA DE ESPERA
  #middle-container
    #m-slider-container
      #slider-container.round-container
        #frequency-slider.multi-slider(min='0' max='100')
    #left-container
      #info-container-row
        #operations
      #sliders.round-container
        .slider-container
          label(for='mean-slider') &mu;:
          input#mean-slider.slider(type='range' name='mean-slider' min='30' max='300' value='75' step='1')
          span#mean-value 00:01:15
        .slider-container
          label(for='dev-slider') &sigma;:
          input#dev-slider.slider(type='range' name='dev-slider' min='1' max='150' value='8' step='1')
          span#dev-value 00:00:08
      #chart.round-container
    #right-container
      #outer-container(style="width: 100%")
        #table-container(style="overflow: auto; margin: 10px; height: 480px; border-radius: 10px")
          table#clients-table.table-format(style="width: 100%;")
            thead
              tr
                th #
                th H. Llegada
                th T. Llegada
                th H. Atencion
                th T. Espera
                th Operacion
                th T. Operacion
                th H. Salida
            tbody
            tfoot
              tr
                th #
                th H. Llegada
                th T. Llegada
                th H. Atencion
                th T. Espera
                th Operacion
                th T. Operacion
                th H. Salida