@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html,
body {
  background: #333;
  font-family: "Varela Round", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  padding: 10px;
}

#top-container {
  display: flex;
  background-color: #c8c8c8;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

#middle-container {
  display: flex;
  flex-direction: row;
}

#left-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #c8c8c8;
  border-radius: 10px;
  overflow: auto;
  max-height: 500px;
  overflow: hidden;
}

#info-container-row {
  display: flex;
}

#canvas {
  height: 500px;
}

#canvas > canvas {
  border-radius: 10px;
}

#operations {
  flex-grow: 1;
}

#operations,
#sliders {
  margin: 10px 10px 0 10px;
}

#sliders {
  display: flex;
  flex-direction: column;
  background: #3333;
}

.table-format {
  border-radius: 10px;
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 2.5px 5px;
}

tr:nth-child(2n) {
  background-color: #3333;
}

tr {
  background-color: #6663;
}

th:not(:last-child) {
  /* text-align: left; */
  border-right: 1px solid #c8c8c8;
}

.table-format > thead,
.table-format > thead > tr,
.table-format > thead > tr > th:first-child {
  border-radius: 10px 0 0 0;
}

.table-format > thead,
.table-format > thead > tr,
.table-format > thead > tr > th:last-child {
  border-radius: 0 10px 0 0;
}

.table-format > tfoot,
.table-format > tfoot > tr,
.table-format > tfoot > tr > th:first-child {
  border-radius: 0 0 0 10px;
}

.table-format > tfoot,
.table-format > tfoot > tr,
.table-format > tfoot > tr > th:last-child {
  border-radius: 0 0 10px 0;
}

.table-format > thead,
.table-format > tfoot {
  background-color: #3333;
}

.slider-container {
  background-color: #3333;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  padding: 0 10px;
  display: flex;
  align-items: baseline;
  flex: 1;
  width: calc(100% - 20px);
}

.slider-container > input {
  margin: 0 10px;
  flex: 1;
}

.slider-container:not(:last-child) {
  margin-bottom: 10px;
}

.slider-container > label,
.slider-container > span {
  line-height: 2;
}

.slider-container > input {
  transform: translateY(5px);
}

.slider-container > label {
  /* font-weight: bold; */
  font-size: 18px;
}

#chart {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  flex: 1;
  flex-grow: 2;
}

#chart > div > svg {
  border-radius: 10px;
  width: 100% !important;
}

#chart > div > svg > rect {
  width: calc(100% + 10px);
  x: -5;
}

#chart > div {
  width: 100% !important;
}

.round-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #3333;
  margin: 10px;
  padding: 10px;
}

#button-container > .p-button {
  margin: 0;
}

.p-button:not(:first-child) {
  margin-left: 10px !important;
}

.p-button {
  padding: 4px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #3338;
}

.p-button:hover {
  opacity: 0.8;
}

.p-button:active {
  opacity: 0.5;
  border-bottom: 0;
  border-top: 2px solid #aaa;
}

#btn-generate {
  background: repeating-linear-gradient(
    45deg,
    #7162d1,
    #7162d1 10px,
    #9081db 10px,
    #9081db 20px
  );
}

#btn-increase {
  margin: 0 10px 0 0 !important;
  height: 6px;
  border-radius: 8px 8px 2px 2px;
  width: 18px;
}

#btn-increase > svg {
  transform: translate(3px, 4px);
}

#btn-decrease {
  margin: 0 10px 0 0 !important;
  height: 6px;
  border-radius: 2px 2px 8px 8px;
  width: 18px;
}

#btn-decrease > svg {
  transform: rotate(180deg) translate(-3px, 5px);
}

#timer,
#iter-container {
  padding: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

#iterations {
  width: 60px;
  margin: 7px 10px;
  border: 0;
  background: white;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  padding: 6px;
  font-size: 18px;
}

#iterations:hover,
#iterations:active,
#iterations:focus {
  outline: 0;
}

#timer-label {
  padding: 5px;
}

#top-container > div:not(:first-child) {
  margin-left: 0;
}

#title {
  float: right;
  flex: 1;
  text-align: center;
  align-items: center;
  font-size: 1;
  padding: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

#right-container {
  background: #c8c8c8;
  height: 500px;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex: 1;
}

#table-container {
  overflow: auto;
  width: calc(100% - 20px);
}

#table-container > table > thead,
#table-container > table > thead > tr,
#table-container > table > thead > tr > th:last-child {
  border-radius: 0;
}

#table-container > table > tfoot,
#table-container > table > tfoot > tr,
#table-container > table > tfoot > tr > th:last-child {
  border-radius: 0;
}

/* width */
#table-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#table-container::-webkit-scrollbar-track {
  background: #3334;
  border-radius: 0 10px 10px 0;
}

/* Handle */
#table-container::-webkit-scrollbar-thumb {
  border-radius: 0 10px 10px 0;
  background: #3338;
}

/* Handle on hover */
#table-container::-webkit-scrollbar-thumb:hover {
  background: #333;
}

#m-slider-container {
  background: #c8c8c8;
  height: 500px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
}

/* Multi-Slider styling */

#slider-container {
  display: block;
  flex: 1;
  background-color: #3333;
  max-width: 20px;
}

.slider {
  -webkit-appearance: none;
  background: #3333;
  height: 8px;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #333;
  width: 10px;
  height: 20px;
  border-radius: 10px;
}

.slider:active,
.slider:focus {
  outline: none;
}

#frequency-slider {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.multi-slider {
  display: grid;
  grid-template-rows: max-content 1em;
  overflow: hidden;
  position: relative;
  width: calc(500px - 25px - 10px - 10px);
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
  border-radius: 10px;
  border: 3px solid #333;
}

.multi-slider > input[type="range"] {
  outline: none;
}

.multi-slider > input[type="range"] {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  background: none;
  color: #000;
  font: inherit;
  pointer-events: none;
}

.multi-slider > input[type="range"]::-webkit-slider-runnable-track,
.multi-slider > input[type="range"]::-webkit-slider-thumb,
.multi-slider > input[type="range"] {
  -webkit-appearance: none;
}

.multi-slider > input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}

.multi-slider > input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

.multi-slider > input[type="range"]::-webkit-slider-thumb {
  width: 6px;
  height: 1em;
  background: #333;
  pointer-events: auto;
  border-radius: 2px;
  cursor: pointer;
}

.multi-slider > input[type="range"]::-moz-range-thumb {
  width: 6px;
  height: 1em;
  background: #333;
  pointer-events: auto;
  border-radius: 2px;
  cursor: pointer;
}

.freq-data {
  display: flex;
}

.color-indicator {
  width: 10px;
  height: 10px;
  border: 3px solid #3333;
  border-radius: 5px;
  margin-right: 5px;
}

/* Multi-Slider styling */
